<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>tunely</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container" id="header-text">
        <h1>Welcome to Tunely</h1>
        <p>Your music binder!</p>
      </div>
    </div>

    <div id="flipbook">
    	<div class="hard"> Turn.js </div>
    	<div class="hard"></div>
    	<div> Page 1 </div>
    	<div> Page 2 </div>
    	<div> Page 3 </div>
    	<div> Page 4 </div>
    	<div class="hard"></div>
    	<div class="hard"></div>
    </div>
    <script type="text/javascript">
    	$("#flipbook").turn({
    		width: 400,
    		height: 300,
    		autoCenter: true
    	});
    </script>

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Albums</h2>
        </div>
      </div>
