.jumbotron {
  background-image: url(/images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #EEE;
}
.jumbotron .container {
  height: 720px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

#header-text {
  text-align: center;
}

#header-text h1 {
  padding-top: 225px;
  font-size: 6em;
}

#header-text p {
  font-size: 3em;
}

#panel-body {
  /* background: pink; */
}
